*{
    text-decoration: none;
    color: white;
}
nav{
    /* height:100px; */
    background-color: #459d84;
}
nav div{
    padding: 40px 45px 24px 45px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.star-wars{
    font-size: 50px;
    font-weight: 700;
}
.swapi-project{
    font-size: 20px;
}
