<div class="container" style="justify-content:flex-start">
    <div class="filters-container">
        <h1>Filters</h1>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Movie Name</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox [(ngModel)]="filters.movieName['all']">All</mat-checkbox>
             <br> <mat-checkbox *ngFor="let film of films" [(ngModel)]="filters.movieName[film.title]">
                {{ film.title }}
              </mat-checkbox>
            </mat-expansion-panel>
          
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Species</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [(ngModel)]="filters.species['all']">All</mat-checkbox>
                <br><mat-checkbox *ngFor="let specie of species" [(ngModel)]="filters.species[specie.name]">
                  {{ specie.name }}
                </mat-checkbox>
              </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Vehicles</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [(ngModel)]="filters.vehicles['all']">All</mat-checkbox>
                <br><mat-checkbox *ngFor="let vehicle of vehicles" [(ngModel)]="filters.vehicles[vehicle.name]">
                  {{ vehicle.name }}
                </mat-checkbox>
              </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Star Ships</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [(ngModel)]="filters.starships['all']">All</mat-checkbox>
                <br><mat-checkbox *ngFor="let starship of starships" [(ngModel)]="filters.starships[starship.name]">
                  {{ starship.name }}
                </mat-checkbox>
              </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Birth Year</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [(ngModel)]="filters.birthYear['all']">All</mat-checkbox>
                <br><mat-checkbox *ngFor="let year of birthYear" [(ngModel)]="filters.birthYear">
                  {{ year }}
                </mat-checkbox>
              </mat-expansion-panel>
              
          
            <!-- Repeat similar blocks for Vehicles, Star Ships, Birth Year -->
          
            <button mat-raised-button color="primary" (click)="search()">Search</button>
          </mat-accordion>
        </div>
    <div class="table">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="sNo">
              <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"> 
                {{ currentPage * pageSize + i + 1 }} 
              </mat-cell>
            </ng-container>
          
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Character Name </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=index;">
                    <div (click)="goToDetails(i+1)" style="cursor:pointer"> 
        
                        {{element.name}}
                    </div>
                    <!-- <a routerLink="character/"{{element.index}} (click)="details(element)">{{ element.name }}</a> -->
                  </mat-cell>
                </ng-container>
              
          
            <ng-container matColumnDef="species">
              <mat-header-cell *matHeaderCellDef> Species </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.species}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="birthYear">
                <mat-header-cell *matHeaderCellDef> Birth Year </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.birth_year === 'unknown' ? '---' : element.birth_year }}
                </mat-cell>
              </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          
          <mat-paginator [length]="totalCharacters" [pageSize]="pageSize" (page)="onPageChange($event)">
          </mat-paginator>
    </div>
</div>


  