div{
    padding: 25px;
    /* background-color:white; */
    width: -webkit-fill-available;
}
div h1{
    align-items: center;
}
.filters-container {
    width: 300px;
    /* margin: 0 auto; */
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #00897b;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  mat-expansion-panel-header {
    background-color: #c8e6c9 !important;
  }
  
  mat-panel-title {
    font-size: 18px;
  }
  
  mat-checkbox {
    margin: 10px 0;
  }
  
  button {
    margin-top: 20px;
  }
  
  mat-accordion mat-expansion-panel {
    margin-bottom: 10px;
  }
  